<footer class="ftco-footer ftco-bg-dark ftco-section">
  <div class="container">
    <div class="row mb-5">
      <div class="col-md-8">
        <div class="row">
          <div class="col-md ftco-animate">
            <div class="ftco-footer-widget mb-4">
              <h2 class="ftco-heading-2">The Restaurant</h2>
              <ul class="list-unstyled">
                <li>
                  <a href="#" class="py-2 d-block">About Us</a>
                </li>
                <li>
                  <a href="#" class="py-2 d-block">Chefs</a>
                </li>
                <li>
                  <a href="#" class="py-2 d-block">Events</a>
                </li>
                <li>
                  <a href="#" class="py-2 d-block">Contact</a>
                </li>
              </ul>
            </div>
          </div>
          <div class="col-md ftco-animate">
            <div class="ftco-footer-widget mb-4">
              <h2 class="ftco-heading-2">Contact</h2>
              <ul class="list-unstyled">
                <li>
                  <p class="font-weight-bold">BURWOOD EAST</p>
                  <p>TEL: 03 9886 7111 (11AM-10PM)</p>
                  <p>MOBILE: 0426 969 788 (11AM-10PM)</p>
                </li>
                <li>
                  <p>380 Burwood Highway, Burwood East, VIC 3151</p>
                </li>
              </ul>
            </div>
          </div>
          <!-- <div class="col-md ftco-animate">
            <div class="ftco-footer-widget mb-4">
              <h2 class="ftco-heading-2">Useful links</h2>
              <ul class="list-unstyled">
                <li>
                  <a href="#" class="py-2 d-block">Bootstrap 4</a>
                </li>
                <li>
                  <a href="#" class="py-2 d-block">jQuery</a>
                </li>
                <li>
                  <a href="#" class="py-2 d-block">HTML5</a>
                </li>
                <li>
                  <a href="#" class="py-2 d-block">Sass</a>
                </li>
              </ul>
            </div>
          </div> -->
        </div>
      </div>
      <div class="col-md-4">
        <div class="ftco-footer-widget mb-4">
          <ul class="ftco-footer-social list-unstyled float-md-right float-lft">
            <li class="ftco-animate">
              <a href="#">
                <span class="icon-twitter"></span>
              </a>
            </li>
            <li class="ftco-animate">
              <a href="#">
                <span class="icon-facebook"></span>
              </a>
            </li>
            <li class="ftco-animate">
              <a href="#">
                <span class="icon-instagram"></span>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="row ftco-animate">
      <div class="col-md text-left">
        <p>&copy; Chinabar Burwood 2018. All Rights Reserved.
        </p>
      </div>
    </div>
  </div>
</footer>
