<!-- gallery section -->
<section class="ftco-section" id="section-gallery">
  <div class="container">
    <div class="row ftco-custom-gutters">

      <div class="col-md-12 text-center mb-5 ftco-animate">
        <h2 class="display-4">Food Gallery</h2>
        <div class="row justify-content-center">
          <div class="col-md-7">
            <p class="lead">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind
              texts.</p>
          </div>
        </div>
      </div>

      <div class="col-md-4 ftco-animate">
        <a href="../../../assets/images/menu_1.jpg" class="ftco-thumbnail image-popup">
          <img src="../../../assets/images/menu_1.jpg" alt="Free Template by Free-Template.co" class="img-fluid">
        </a>
      </div>
      <div class="col-md-4 ftco-animate">
        <a href="../../../assets/images/menu_2.jpg" class="ftco-thumbnail image-popup">
          <img src="../../../assets/images/menu_2.jpg" alt="Free Template by Free-Template.co" class="img-fluid">
        </a>
      </div>
      <div class="col-md-4 ftco-animate">
        <a href="../../../assets/images/menu_3.jpg" class="ftco-thumbnail image-popup">
          <img src="../../../assets/images/menu_3.jpg" alt="Free Template by Free-Template.co" class="img-fluid">
        </a>
      </div>

      <div class="col-md-4 ftco-animate">
        <a href="../../../assets/images/menu_2.jpg" class="ftco-thumbnail image-popup">
          <img src="../../../assets/images/menu_2.jpg" alt="Free Template by Free-Template.co" class="img-fluid">
        </a>
      </div>
      <div class="col-md-4 ftco-animate">
        <a href="../../../assets/images/menu_3.jpg" class="ftco-thumbnail image-popup">
          <img src="../../../assets/images/menu_3.jpg" alt="Free Template by Free-Template.co" class="img-fluid">
        </a>
      </div>
      <div class="col-md-4 ftco-animate">
        <a href="../../../assets/images/menu_1.jpg" class="ftco-thumbnail image-popup">
          <img src="../../../assets/images/menu_1.jpg" alt="Free Template by Free-Template.co" class="img-fluid">
        </a>
      </div>

    </div>
  </div>
</section>
<!-- END gallery section -->
