<form #reservationForm="ngForm" (ngSubmit)="onSubmit(reservationForm)">
  <input type="hidden" name="$key" #$key="ngModel" [(ngModel)]="reservationservice.selectedReservation.$key">
  <div class="form-group">
    <label>First Name</label>
    <input type="text" class="form-control" name="first_name" #first_name="ngModel"
           [(ngModel)]="reservationservice.selectedReservation.first_name"
           placeholder="First Name" required>
  </div>

  <div class="form-group">
    <label>Last Name</label>
    <input type="text" class="form-control" name="last_name" #last_name="ngModel"
           [(ngModel)]="reservationservice.selectedReservation.last_name"
           placeholder="Last Name">
  </div>

  <div class="form-group">
    <label>Email</label>
    <input type="text" class="form-control" name="email" #email="ngModel"
           [(ngModel)]="reservationservice.selectedReservation.email"
           placeholder="Email">
  </div>

  <div class="form-group">
    <label>No. of People</label>
    <select class="form-control" name="no_of_people" #no_of_people="ngModel"
            [(ngModel)]="reservationservice.selectedReservation.no_of_people"
            placeholder="No. of People">
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4+">4+</option>
    </select>
  </div>

  <div class="form-group">
    <label>Phone</label>
    <input type="text" class="form-control" name="phone" #phone="ngModel"
           [(ngModel)]="reservationservice.selectedReservation.phone"
           placeholder="Phone">
  </div>

  <div class="form-group">
    <label>Booking Date</label>
    <input type="text" class="form-control" name="book_date" #book_date="ngModel"
           [(ngModel)]="reservationservice.selectedReservation.book_date"
           placeholder="Booking Date" bsDatepicker>
  </div>

  <div class="form-group">
    <label>Session</label>
    <select class="form-control" name="session" #session="ngModel"
            [(ngModel)]="reservationservice.selectedReservation.session"
            placeholder="Session">
      <option value="11:30 am ~ 15:00 pm">11:30 am ~ 15:00 pm</option>
      <option value="17:30 pm ~ 22:00 pm">17:30 pm ~ 22:00 pm</option>
    </select>
  </div>

  <div class="form-group">
    <label>Booking Message</label>
    <input type="text" class="form-control" name="book_message" #book_message="ngModel"
           [(ngModel)]="reservationservice.selectedReservation.book_message"
           placeholder="Booking Message">
  </div>

  <div class="form-group">
    <button class="btn btn-info" type="submit" [disabled]="!reservationForm.valid">
      Submit</button>
    <button class="btn btn-danger" type="button" (click)="resetForm(reservationForm)">
      Reset</button>
  </div>

</form>
