<!-- about section -->
<section class="ftco-section" id="section-about">
  <div class="container">
    <div class="row">
      <div class="col-md-5 ftco-animate mb-5">
        <h4 class="ftco-sub-title">Our Story</h4>
        <h2 class="ftco-primary-title display-4">Welcome to</h2>
        <h4 class="display-8">THE LARGEST ASIAN BUFFET RESTAURANT IN MELBOURNE</h4>
        <p class="text-justify">We offer you the best of Asian cuisine, prepared by some of the finest chefs from all over Asia, including China,
          Vietnam, Malaysia and Hong Kong. </p>

        <p class="mb-4 text-justify">Our masterful chefs have brought with them the many timeless Asian delicacies
            that are sure to whet your appetite. Our offerings include sushi & sashimi, fresh oysters, rich variety of seafood,
            yum cha, Peking duck, noodle, traditional Asian soups, as well as a variety of assorted favourite Asian desserts.</p>
        <p>
          <a href="#section-about" class="btn btn-secondary btn-lg">Our Story</a>
        </p>

      </div>
      <div class="col-md-1"></div>
      <div class="col-md-6 ftco-animate img" data-animate-effect="fadeInRight">
        <img src="../../../assets/images/about_img_1.jpg" alt="Free Template by Free-Template.co">
      </div>
    </div>
  </div>
</section>
<!-- END about section -->
