<!-- offer section -->
<section class="ftco-section bg-light" id="section-offer">
  <div class="container">

    <div class="row">
      <div class="col-md-12 text-center mb-5 ftco-animate">
        <h4 class="ftco-sub-title">Our Offers</h4>
        <h2 class="display-4">Offers &amp; Promos</h2>
        <div class="row justify-content-center">
          <div class="col-md-7">
            <p class="lead">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind
              texts.
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-12">
        <div class="owl-carousel ftco-owl">

          <div class="item">
            <div class="media d-block mb-4 text-center ftco-media ftco-animate border-0">
              <img src="../../../assets/images/offer_1.jpg" alt="Free Template by Free-Template.co" class="img-fluid">
              <div class="media-body p-md-5 p-4">
                <h5 class="text-primary">$39.50</h5>
                <h5 class="mt-0 h4">Beef with Sauce</h5>
                <p class="mb-4">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind
                  texts.
                </p>

                <p class="mb-0">
                  <a href="#" class="btn btn-primary btn-sm">Order Now!</a>
                </p>
              </div>
            </div>
          </div>

          <div class="item">
            <div class="media d-block mb-4 text-center ftco-media ftco-animate border-0">
              <img src="../../../assets/images/offer_2.jpg" alt="Free Template by Free-Template.co" class="img-fluid">
              <div class="media-body p-md-5 p-4">
                <h5 class="text-primary">$39.50</h5>
                <h5 class="mt-0 h4">Fresh Salmon Fish</h5>
                <p class="mb-4">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind
                  texts.
                </p>

                <p class="mb-0">
                  <a href="#" class="btn btn-primary btn-sm">Order Now!</a>
                </p>
              </div>
            </div>
          </div>

          <div class="item">
            <div class="media d-block mb-4 text-center ftco-media ftco-animate border-0">
              <img src="../../../assets/images/offer_3.jpg" alt="Free Template by Free-Template.co" class="img-fluid">
              <div class="media-body p-md-5 p-4">
                <h5 class="text-primary">$39.50</h5>
                <h5 class="mt-0 h4">Beef Ribs</h5>
                <p class="mb-4">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind
                  texts.
                </p>

                <p class="mb-0">
                  <a href="#" class="btn btn-primary btn-sm">Order Now!</a>
                </p>
              </div>
            </div>
          </div>

          <div class="item">
            <div class="media d-block mb-4 text-center ftco-media ftco-animate border-0">
              <img src="../../../assets/images/offer_1.jpg" alt="Free Template by Free-Template.co" class="img-fluid">
              <div class="media-body p-md-5 p-4">
                <h5 class="text-primary">$39.50</h5>
                <h5 class="mt-0 h4">Beef with Sauce</h5>
                <p class="mb-4">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind
                  texts.
                </p>

                <p class="mb-0">
                  <a href="#" class="btn btn-primary btn-sm">Order Now!</a>
                </p>
              </div>
            </div>
          </div>

          <div class="item">
            <div class="media d-block mb-4 text-center ftco-media ftco-animate border-0">
              <img src="../../../assets/images/offer_2.jpg" alt="Free Template by Free-Template.co" class="img-fluid">
              <div class="media-body p-md-5 p-4">
                <h5 class="text-primary">$39.50</h5>
                <h5 class="mt-0 h4">Fresh Salmon Fish</h5>
                <p class="mb-4">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind
                  texts.
                </p>

                <p class="mb-0">
                  <a href="#" class="btn btn-primary btn-sm">Order Now!</a>
                </p>
              </div>
            </div>
          </div>

          <div class="item">
            <div class="media d-block mb-4 text-center ftco-media ftco-animate border-0">
              <img src="../../../assets/images/offer_3.jpg" alt="Free Template by Free-Template.co" class="img-fluid">
              <div class="media-body p-md-5 p-4">
                <h5 class="text-primary">$39.50</h5>
                <h5 class="mt-0 h4">Beef Ribs</h5>
                <p class="mb-4">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind
                  texts.
                </p>

                <p class="mb-0">
                  <a href="#" class="btn btn-primary btn-sm">Order Now!</a>
                </p>
              </div>
            </div>
          </div>

          <div class="item">
            <div class="media d-block mb-4 text-center ftco-media ftco-animate border-0">
              <img src="../../../assets/images/offer_1.jpg" alt="Free Template by Free-Template.co" class="img-fluid">
              <div class="media-body p-md-5 p-4">
                <h5 class="text-primary">$39.50</h5>
                <h5 class="mt-0 h4">Beef with Sauce</h5>
                <p class="mb-4">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind
                  texts.
                </p>

                <p class="mb-0">
                  <a href="#" class="btn btn-primary btn-sm">Order Now!</a>
                </p>
              </div>
            </div>
          </div>

          <div class="item">
            <div class="media d-block mb-4 text-center ftco-media ftco-animate border-0">
              <img src="../../../assets/images/offer_2.jpg" alt="Free Template by Free-Template.co" class="img-fluid">
              <div class="media-body p-md-5 p-4">
                <h5 class="text-primary">$39.50</h5>
                <h5 class="mt-0 h4">Fresh Salmon Fish</h5>
                <p class="mb-4">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind
                  texts.
                </p>

                <p class="mb-0">
                  <a href="#" class="btn btn-primary btn-sm">Order Now!</a>
                </p>
              </div>
            </div>
          </div>

          <div class="item">
            <div class="media d-block mb-4 text-center ftco-media ftco-animate border-0">
              <img src="../../../assets/images/offer_3.jpg" alt="Free Template by Free-Template.co" class="img-fluid">
              <div class="media-body p-md-5 p-4">
                <h5 class="text-primary">$39.50</h5>
                <h5 class="mt-0 h4">Beef Ribs</h5>
                <p class="mb-4">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind
                  texts.
                </p>

                <p class="mb-0">
                  <a href="#" class="btn btn-primary btn-sm">Order Now!</a>
                </p>
              </div>
            </div>
          </div>

        </div>
      </div>

    </div>
  </div>
</section>
<!-- END offer section -->
