<h6 class="text-center">Reservation Register</h6><br/>
<table class="table table-sm table-hover">
  <tr *ngFor="let reservation of reservationList">
    <td>{{reservation.first_name}}</td>
    <td>{{reservation.email}}</td>
    <td>{{reservation.no_of_people}}</td>
    <td>{{reservation.book_date}}</td>
    <td>
      <a class="btn" (click)="onEdit(reservation)">
        Edit
      </a>
      <a class="btn" (click)="onDelete(reservation.$key)">
        Delete
      </a>
    </td>
  </tr>
</table>
