<form #reservationForm="ngForm">
  <div class="form-group">
    <label>First Name</label>
    <input type="text" class="form-control" name="firs_name" #name="ngModel"
           [(ngModel)]="reservationservice.selectedReservation.first_name"
           placeholder="First Name">
  </div>

  <div class="form-group">
    <label>Last Name</label>
    <input type="text" class="form-control" name="last_name" #name="ngModel"
           [(ngModel)]="reservationservice.selectedReservation.last_name"
           placeholder="Last Name">
  </div>

  <div class="form-group">
    <label>Email</label>
    <input type="text" class="form-control" name="email" #name="ngModel"
           [(ngModel)]="reservationservice.selectedReservation.email"
           placeholder="Email">
  </div>

  <div class="form-group">
    <label>No. of People</label>
    <input type="text" class="form-control" name="no_of_people" #name="ngModel"
           [(ngModel)]="reservationservice.selectedReservation.no_of_people"
           placeholder="No. of People">
  </div>

  <div class="form-group">
    <label>Phone</label>
    <input type="text" class="form-control" name="phone" #name="ngModel"
           [(ngModel)]="reservationservice.selectedReservation.phone"
           placeholder="Phone">
  </div>

  <div class="form-group">
    <label>Booking Date</label>
    <input type="text" class="form-control" name="book_date" #name="ngModel"
           [(ngModel)]="reservationservice.selectedReservation.book_date"
           placeholder="Booking Date">
  </div>

  <div class="form-group">
    <label>Session</label>
    <input type="text" class="form-control" name="session" #name="ngModel"
           [(ngModel)]="reservationservice.selectedReservation.session"
           placeholder="Session">
  </div>

  <div class="form-group">
    <label>Booking Message</label>
    <input type="text" class="form-control" name="book_message" #name="ngModel"
           [(ngModel)]="reservationservice.selectedReservation.book_message"
           placeholder="Booking Message">
  </div>

</form>
